<%= form_with model: @comment do |form| %>
    <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :comments_body %>
        <%= form.submit :comment %>
    </div>
<%end%>  