   <%= form_for [ post, @comment ] do |f| %>
  <div >
    <%= f.text_area :body, :class => "form-control", placeholder:"leave a comment" %>
     <br>
    <%= f.submit 'Create comment' , :class=>"post btn btn-success"%>
   </div>
<% end %>