<main class="user_index">
<h1>All Pending requests</h1>

<ol class="user_list">
<% @pending.each do |user| %>
  <li class="list_item">
    
    <%= link_to user.username, user %>
    
</li>
<% end %>
</ol>

</main>